[Unit]
Description=Ubuntu Desktop Provisioning Daemon
Requires=provd.socket

[Service]
ExecStart=/usr/sbin/provd
Restart=on-failure
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectProc=invisible
RestrictRealtime=true
RestrictSUIDSGID=yes
