[Unit]
Description=Socket for Ubuntu Desktop Provisioning Daemon

[Socket]
ListenStream=/run/provd/provd.sock
SocketMode=0660
SocketUser=gnome-initial-setup
SocketGroup=gnome-initial-setup

[Install]
WantedBy=sockets.target