[Unit]
Description=Ubuntu Desktop Provisioning Daemon
Requires=provd.socket

[Service]
ExecStart=/usr/bin/provd
Restart=on-failure
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
